@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
body{
background-color: #F5E6CA;

}
.about{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding-left: 200px;
    display:none;
}
.about2{
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  padding-left: 300px;
  display:none;
}
.aboutm{
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    padding-left: 200px;
    padding-right:100px;
    height:auto;
    
    
}
.img1{
  width:15%;
  height:15%;
  float:right;
 
  padding-left:10px;
}
.content1{
  padding-left: 150px;
  padding-right:10px ;
}
.particulars{
  padding-right:100px ;
  
}
.particulars1{
  position:relative;
  background-color: coral;
  width:300px;
  float: auto;
  margin-left:31%;
}
.intro{
  font-size: 20px;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding-left: 60px;
  width: 60%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 25px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  text-align: left;
  margin-left:20%;
  width: 60%;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    font-family: 'Inter', sans-serif;
    background-color: #343F56;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color:#FB9300;
    
    display: block;
  }
  
  .sidenav a:hover {
    color: #FFEEDF;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }